{% extends "layout.html" %}
{% block body %}
  <div>
      <p class="lead">{{article.headline}}</p>
      <table class="table">
        <thead>
          <th>Newspaper</th>
          <th>Published On</th>
          <th>Article ID</th>
        </thead>
        <tbody>
          <tr>
            <td><a href={{article.article_url}}>{{article.newspaper}}</a></td>
            <td>{{article.date_published}}</td>
            <td>{{article.article_id}}</td>
          </tr>
        </tbody>
      </table>
		<p>{{article.body}}</p>
  </div>
{% endblock %}
