{% extends "base.html" %}
{% block body %}

<div class="bg-white px-6 lg:px-8">
  <div class="mx-auto max-w-5xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">{{ newspaper.fancy_name }}</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ article.headline }}</h1>
    <div class="mt-6">
      {% with newspaper_fancy_name=newspaper.fancy_name %}
        {% include "article-meta.html" %}
      {% endwith %}
    </div>
    <p class="mt-6">{{article.body }}</p>
    </div>
  </div>
{% endblock %}
