<div class="bg-white dark:bg-dracula">
  <div class="mx-auto max-w-7xl ">
    <footer aria-labelledby="footer-heading" class="text-center mt-auto relative py-10">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div>
        <ul role="list" class="space-y-4">
          <li>
            <a href="https://www.datasciencesouth.com/" class="hover:underline text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-white">Made with <i class="bi bi-heart-fill"></i> by Data Science South</a>
          </li>
          <li>
            <a href="https://github.com/ADGEfficiency/climate-news-db" class="hover:underline text-sm leading-6 text-gray-600 hover:text-gray-900 dark:hover:text-white">Source on <i class="bi bi-github"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
