<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden px-2 py-10 sm:py-10 lg:px-4">
    <div class="flex justify-center space-x-10">
      <a href="https://www.linkedin.com/company/datasciencesouth/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        Follow on <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/ADGEfficiency/climate-news-db" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        Source on <i class="bi bi-github"></i>
      </a>
    </div>
    <p class="mt-4 text-center text-xs leading-5 text-gray-500">
      From <a class="underline" href="https://datasciencesouth.com">Data Science South</a>
    </p>
  </div>
</footer>
