{% extends "base.html" %}
{% block body %}
<title>GPT Opinions</title>
<div class="container mx-auto max-w-5xl">
  <div class="mx-4">
    <h1 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-300">
      <p class="text-accent mt-1 mb-5">32 random articles with GPT Opinions.</p>
    </h1>
    {% for article in articles %}
      <a class="text-base font-semibold leading-7 text-accent hover:underline" href="/newspaper/{{article.newspaper_name}}">{{ article.fancy_newspaper_name }}</a>
      <h3 class="text-base font-semibold dark:text-gray-300 hover:underline">
        <a href="/article/{{article.id}}">{{article.headline}}</a>
      </h3>
    <div>
      {% with newspaper_fancy_name=article.fancy_newspaper_name, newspaper_name=article.newspaper_name %}
        {% include "article-meta.html" %}
      {% endwith %}
    </div>
      <p class="mb-6 dark:text-gray-400">{{first_sentence(article.body)}}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
