{% extends "base.html" %}
{% block body %}
  <div class="container mx-auto">
    <figure class="my-4 mx-6">
      <canvas id="canvas" height="320px"></canvas>
    </figure>

<div class="sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
    <p>{{data.n_articles|comma_number}} articles from {{data.n_papers}} newspapers.</p>
        </h1>
    </div>
  </div>
  <div class="flow-root">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Newspaper</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Article Count</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Average Word Count</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for paper in papers %}
            <tr>
              <td class="whitespace-nowrap py-1 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
            <a href="/newspaper/{{paper.name}}">{{paper.fancy_name}}</a>
              </td>
              <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
          {{"%4.0f"|format(paper.article_count)}}
              </td>
              <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">

                {{"%4.1f"|format(paper.average_article_length)}}
            </tr>
        {% endfor %}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </div>
  <script src="static/app.js"></script>
{% endblock %}
