{% extends "layout.html" %}
{% block body %}
  <div>
    <p>You have {{data.n_articles}} articles - <a href="random">see a random article.</a></p>

    <table class="table table-condensed table-striped">
      <thead>
        <th>Newspaper</th>
        <th>Article Count</th>
        <th>Average Article Word Count</th>
      </thead>
      <tbody>
        {% for paper in papers %}
        <tr>
          <td>{{paper.newspaper}}</td>
          <td>{{paper.article_count}}</td>
          <td>{{"%4.1f"|format(paper.average_article_length)}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
