{% extends "layout.html" %}
{% block body %}
    <p class="lead">Latest Published</p>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Headline</th>
        <th>Newspaper</th>
        <th>Date Published</th>
      </thead>
      <tbody>
        {% for article in latest %}
        <tr>
          <td><a href=/article?article_id={{article.article_id}}>{{article.headline}}</a></td>
          <td>{{article.newspaper}}</td>
          <td>{{article.date_published}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="lead">Latest Scraped</p>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Headline</th>
        <th>Newspaper</th>
        <th>Date Scraped</th>
      </thead>
      <tbody>
        {% for article in scrape %}
        <tr>
          <td><a href=/article?article_id={{article.article_id}}>{{article.headline}}</a></td>
          <td>{{article.newspaper}}</td>
          <td>{{article.date_uploaded}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <script src="static/app.js"></script>
{% endblock %}
