{% extends "base.html" %}
{% block body %}

<div class="sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Latest Published
        </h1>
    </div>
  </div>
  <div class="flow-root">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Published</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Newspaper</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Headline</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for article in latest %}
            <tr>
              <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                {{article.date_published}}
              </td>
              <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                {{article.fancy_name}}
              </td>
              <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                {{article.headline}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        Latest Scraped
        </h1>
    </div>
    </div>
    <div class="flow-root">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Published</th>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Newspaper</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Headline</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              {% for article in scrape %}
              <tr>
                <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                  {{article.date_published}}
                </td>
                <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                  {{article.fancy_name}}
                </td>
                <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">
                  {{article.headline}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
