{% extends "layout.html" %}
{% block body %}
    <p class="lead">Latest Published</p>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Published</th>
        <th>Newspaper</th>
        <th>Headline</th>
      </thead>
      <tbody>
        {% for article in latest %}
        <tr>
          <td>{{article.date_published|datetimeformat('%Y-%m-%d %H:%M')}}</td>
          <td>{{article.fancy_name}}</td>
          <td><a href=/article/{{article.article_id}}>{{article.headline}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="lead">Latest Scraped</p>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Scraped</th>
        <th>Newspaper</th>
        <th>Headline</th>
      </thead>
      <tbody>
        {% for article in scrape %}
        <tr>
          <td>{{article.date_uploaded|datetimeformat('%Y-%m-%d %H:%M')}}</td>
          <td>{{article.fancy_name}}</td>
          <td><a href=/article/{{article.article_id}}>{{article.headline}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
