{% extends "layout.html" %}
{% block body %}
  <div>
  <p class="lead">Logs - {{toggle}}</p>
  <p>
  <a href="/logs?toggle=all">all</a> - 
  <a href="/logs?toggle=error">errors </a> 
  </p>
    <table class="table table-condensed table-striped">
      <thead>
        <th>Time</th>
        <th>Message</th>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <td>{{log.time}}</td>
          <td>{{log.msg}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
