<!-- Header -->
<header x-data="{ isMenuOpen: false }" class="absolute inset-x-0 top-0 z-50">
  <nav class="dark:bg-dracula flex items-center justify-between p-6 md:px-8" aria-label="Global">
    <div class="flex md:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-14" src="/static/logos/light.svg" alt="">
      </a>
    </div>
    <div class="flex md:hidden">
      <button @click="isMenuOpen = !isMenuOpen" type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden md:flex md:gap-x-12">
      {% include "partials/navbar-list.html" %}
    </div>
    <div class="hidden md:flex md:flex-1 md:justify-end">
      <i id="darkModeToggle" class="bi bi-brightness-high" onclick="toggleDarkMode()"></i>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div x-show="isMenuOpen" class="md:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white dark:bg-dracula px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button @click="isMenuOpen = !isMenuOpen" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            {% include "partials/navbar-list.html" %}
            <div class="py-6">
              <div href="/download"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                onclick="toggleDarkMode()">
                Toggle Dark Mode</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
