
{% extends "layout.html" %}
{% block body %}
  <div>
		<p>{{articles|length}} articles from {{newspaper.newspaper}}.</p>

    <table class="table table-condensed table-striped">
      <thead>
        <th>Headline</th>
        <th>Date Published</th>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <td><a href=/article?article_id={{article.article_id}}>{{article.headline}}</a></td>
          <td>{{article.date_published}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
